
body{
    margin: auto;
    width: 1024px;
    height: 860px;
    background-color: rgb(147, 147, 182);
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    height: 800px;
    z-index: -1;
}
.control-unit{
    padding: 60px 0px 0px 60px;
    display: inline-flex;
    background-color:none;
    margin: 0px 0 0px 0px;
}

.refresh {
    padding: 0px 30px 0px 60px;
}

.refresh-image {
    display: block;
    width: 20px;
    height: 20px;
}

.language {
    margin: -10px 30px 0px 60px; 
}

.temperature {
    margin: -10px 30px 0px 60px;
}

.search-form{
    margin: -10px 30px 0px 60px;
}

.left-block{
display: inline-block;
margin-top: 10%;
background-color: none;
height: 400px;
width: 400px;
}

.weather-for-today {
    display: inline-block;
    position: relative;
    top: 0px;
    left: 20px;
    background: none;
    width: 400px;
    height: 400px;
}

.town {
    position: relative;
    color: rgb(255, 153, 153);
    -webkit-text-stroke: 0.5px #ffffff;
    font-size: 40px;
    width: 300px;
    height: 60px;
}
.country {
    position: relative;
    top: -40px;
    color: rgb(214, 158, 158);
    -webkit-text-stroke: 1px #ffffff;
    font-size: 40px;
    width: 300px;
    height: 60px;
}

#doc_time {
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    margin-top: -10px;
    font-size: 30px;
    margin-top: 0px;
}

.temperature-data{
    display: inline-flex;
    position: relative;
    margin-top: 0%;
    -webkit-text-stroke: 1px #ffffff;
    color: rgb(1, 4, 167);
    font-size: 40px;
}

.icon-weather {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 12.5%;
    background-image: url("img/weater-icons/sunny.png");
}

.summary{
    display: inline-flex;
    position: relative;
    -webkit-text-stroke: 1px #ffffff;
    color: rgb(1, 4, 167);
    font-size: 40px;
    margin-top: 0%;
}

.three-day-weather-forecast {
    position: relative;
    display: flex;
    margin-top: 10%;
    width: 540px;
    height: 100px;
    background-color:none;
}

.first-day{
    display: inline-block;
    width: 180px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px #ffffff;
}

.second-day{
    display: inline-block;
    width: 180px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px #ffffff;
    font-size: 30px;
}

.third-day{
    display: inline-block;
    width: 180px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px #ffffff;
}

.right-block{
    display: inline-block;
    position: relative;
    margin-top: -10%;
    left: 20%;
    background-color: rgb(93, 95, 97);
    height: 400px;
    width: 400px;
}

#map{
    display: block;
    position: relative;
    width: 400px;
    height: 400px;
}

